
.about-preview p, .cta-banner p {
text-align: center;
max-width: 40rem;
margin: 0 auto 1.5rem auto;
}

.hero {
    text-align: left;
    padding: 4rem 0 8rem;
    position: relative;
    margin-bottom: 0;
}

.hero h1 {
    font-size: clamp(1.125rem, 6vw, 2.5rem);
    margin-bottom: 1rem;
    animation: slideLeft 300ms ease-out ;
}

.hero p {
    font-size: clamp(0.7rem, 3vw, 1.125rem);
    margin-bottom: 2rem;
    color: #ccc;
    animation: slideLeft 300ms ease-out;
}

.hero .cta{
    animation: slideLeft 300ms ease-out;
}

#hero-phone{
    position: absolute;
    right: 1rem;
    bottom: 0;
    animation: loadUp 300ms linear;
    z-index: -1;
    width: 25%;
    min-width: 6rem;
    min-height: 6rem;
    aspect-ratio: 0.97;
}

.fadeUp{
    animation: loadUp 300ms ease-out;
}

@keyframes loadUp{
    0%{
       transform: translateY(100%);
       opacity: 0;
    }100%{
        transform: translate(0);
        opacity: 1;
    }
}

.services-overview ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.75rem;
    padding: 0;
    list-style: none;
  }
  
  .services-overview li {
    position: relative;
    flex: 1 1 clamp(180px, 30%, 280px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    background: var(--accent-hover);
    box-shadow: 0 6px 16px #0007;
    border-radius: 0.75rem;
    height: 4lh;
    font-size: clamp(0.7rem, 3vw, 1.125rem);
    overflow: hidden;
    transition: transform 0.2s ease;
    opacity: 0;
    animation: loadUp 300ms ease-out forwards;
  }
  
  .services-overview li:hover {
    transform: translateY(-4px);
  }
  
  .services-overview li p {
    z-index: 1;
    margin: 0;
    text-align: center;
  }
  
  .services-overview li svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: calc(100% - 0.7rem);
    fill: var(--accent-shadow);
    z-index: 0;
    pointer-events: none;
}

.services-overview li:nth-child(2) {
  animation-delay: 0.1s;
}
.services-overview li:nth-child(3) {
  animation-delay: 0.2s;
}
.services-overview li:nth-child(4) {
  animation-delay: 0.3s;
}
.services-overview li:nth-child(5) {
    animation-delay: 0.4s;
  }