.project-list a{
    width: calc(50% - 1rem);
}

main{
    max-width: none;
}

.project-list{
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-list a:nth-child(even){
    animation: slideRight 300ms ease-out;
}
.project-list a:nth-child(odd){
    animation: slideLeft 300ms ease-out;
}